@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-principal:#1f1d2c;
  --color-letra: #ffffff;
  --colot-iconos: #f1a600;
  /*topografia movile*/
  --titulo-movile: 50px;
  --semibold-movile:700;
  --semititulo-movile:32px;

}

body {
  background-color: var(--color-principal);
  color: var(--color-letra);
  background-image: url("/Vectores/Rectangle 33.svg");
  background-repeat: no-repeat;
  background-position: top right;
  font-family:'Montserrat', sans-serif;
  background-size: 80%;
}
/*congiguracion de la nav*/
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
}

nav > div a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

nav > div img {
  width: 50px;
}

input#menu-hamburguesa {
  visibility: hidden;
}

ul > li {
  margin: 20px;
}

input#menu-hamburguesa ~ ul {
  background-color: var(--color-principal);
  list-style: none;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 100%;
  text-align: center;
  z-index: 10;
}

input#menu-hamburguesa:checked ~ ul {
  right: 0;
}

/*configuracion article-1*/

#about-section {
   position: relative;
   display: flex;
   justify-content: flex-end;
   align-items: center;
    
}

#about-section > div {
    position:absolute;
    left: 0;
    top: 0;
}

#about-section > div h1 {
  font-size: var(--titulo-movile);
  font-weight: var(--semibold-movile);

}

#about-section > img{
 width: 55vw;
 height: 300px;
 margin-top:70px;
 margin-right: 50px;
}

#about-section > div > h1 + p {
  font-weight:500;
  font-size: 22px;
  margin-left:20px;
  width: 30vh;
}

#about-section > div > p  span {
  color: var(--colot-iconos);

}

#about-section > div > p {
  margin-left:20px;
  margin-top: 30px;
  font-size: 1.2rem;
}

#redes-sociales img {
  margin-left: 20px;
  margin-top: 30px;
  width: 6vw;
}

/*acarca de mi*/

#acerca-de-mi {
  margin-top: 100px;
  padding: 0 20px;
  background-image: url("/Vectores/Rectangle 34-1.svg");
  padding-bottom: 50px;
}

#acerca-de-mi > h1 {
  padding-top: 30px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

#acerca-de-mi > p {
  text-align: center;
  margin-bottom: 50px;
}

.images {
  display: flex;
  justify-content: space-around;
}

.images img {
   height: 120px;
   width: 120px;
}

.images p {
  font-size: 0.8rem;
  text-align: center;
}

/*experencia*/

#experencia {
  margin-top: 50px;
  margin-right: 10px;
  padding-left: 10px;
  background-image: url("/Vectores/Group 35.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 15px;

}

#experencia > h1 {
  text-align: center;
  font-size: 2rem;
}

#experencia > #amazon {
  display: flex;
  padding: 50px 10px  50px 70px;
  justify-content: space-around;
  text-align: left;
  background-image: url("/Íconos/ant-design_amazon-outlined.svg");
  background-repeat: no-repeat;
  background-position:left center;
  
}

#experencia h4{
  font-size: 1.2rem;
}

#experencia > #amazon > div ~ div p {
  padding-top: 20px;
  font-weight: 600;
}
#experencia > #amazon > div h4 ~ p {
  font-size: 0.8rem;
}

#experencia > #airbnb {
  display: flex;
  padding: 50px 10px  50px 60px;
  justify-content: space-around;
  text-align: left;
  background-image: url("/Íconos/cib_airbnb.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

#experencia > #airbnb > div h4 ~ p {
  font-size: 0.8rem;
}

#experencia > #airbnb > div ~ div p {
  padding-top: 20px;
  font-weight: 600;
}

#experencia > #google {
  display: flex;
  padding: 50px 10px  50px 70px;
  justify-content: space-around;
  text-align: left;
  background-image: url("/Íconos/akar-icons_google-fill.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

#experencia > #google > div h4 ~ p {
  font-size: 0.8rem;
  padding-right: 20px;
}


#experencia > #google > div ~ div p {
  padding-top: 20px;
  font-weight: 600;
}

/*Mis habilidades*/
#mis-habilidades {
  padding: 30px 0;
  margin-top: 50px;
  margin-bottom: 30px;
  background-image: url("/Vectores/Rectangle\ 34-1.svg");
  background-repeat: no-repeat;
  background-position: -130% ;
}

#mis-habilidades h1 {
  text-align: center;
  margin-bottom: 30px;
}

.mis-habilidades-web {
  display: flex;
  justify-content:center;
}

#mis-habilidades > .mis-habilidades-web > p  {
  width: 200px;
  margin-top: 20px;
  font-weight: 400;
  text-align: left;
}

#mis-habilidades > .mis-habilidades-web > div {
  padding-right: 30px;
}

#mis-habilidades > .mis-habilidades-web > div  p {
  color: var(--colot-iconos); 
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
}

/*Mi portafolio*/
#mi-portafolio h1 {
  text-align: center;
}

#mi-portafolio > #imagen-1 > img {
  width: 200px;
  height: 150px;
  position: relative;
  top: 10px;
  left: 5px;
  margin-bottom: 10px;
}
#mi-portafolio > #imagen-1 > img + p{
  margin-bottom: 50px;
}

#imagen-1 {
  width: 210px;
  height: 150px;
  background-color: var(--colot-iconos);
  margin: 30px 20px;
}

.absolute {
 text-align: end;
 padding-right: 20px;
}

#imagen-2 p {
  text-align:end;
  padding-right: 20px;
}

.absolute > img{
  margin-top: 20px;
  width: 200px;
  height: 150px;
}

#mi-portafolio > #imagen-3 > img {
  width: 200px;
  height: 150px;
  position: relative;
  top: 10px;
  left: 5px;
  margin-bottom: 10px;
}

#imagen-3 {
  width: 210px;
  height: 150px;
  background-color: var(--colot-iconos);
  margin: 30px 20px;
}

/*Contacto*/

#contacto {
  margin-top:100px;
}








@media only screen and (min-width: 600px) {
  /*congiguracion de la nav*/
  body {
    background-size: 60%;
  }

  label {
    display: none;
  }
  #about-section > div {
    padding-left: 80px;
  }

  #about-section > div h1 {
    font-size: 4rem;
    font-family:'Montserrat', sans-serif;
  }


  input#menu-hamburguesa ~ ul {
    position: static;
    display: flex;
    background-color:transparent;
    font-size: 0.8rem;
    margin-bottom: 30px;
  }
  
  /*acerca de mi */

  #acerca-de-mi {
    font-size: 1.5rem ;
  }

  #acerca-de-mi > div img {
    width: 150px;
    height: 150px;
  }

  #acerca-de-mi > div p {
    font-size: 1rem;
  }

  /*mis habilidades */

  #mis-habilidades h1 {
    text-align:left ;
    padding-left: 20%;
    font-size: 2rem;
  }

  #mis-habilidades {
    background-position: -15%;
  }

  /*mi portafolio*/

  #mi-portafolio h1 {
    font-size: 2rem;
  }
  
  #mi-portafolio {
    padding: 0 50px;
  }

  
}
@media only screen and (min-width: 1100px) {
  nav > div a {
    padding: 0 30px;
  }
  #about-section > img{
    margin-top: 100px;
    width: 500px;
    height: auto;
  }
  body {
    background-size: 45%;
    background-image: url("/Vectores/Rectangle\ 33-1.svg");
  }
  
  #about-section > div {
    position:absolute;
    left: 0;
    margin-left: 50px;
  }

  #about-section > div > h1 + p {
    font-size: 2rem;
    width: 400px;
  }
  
  #about-section > div h1 {
    font-size: 5rem;
  }


  /*acerca de mi*/
  #acerca-de-mi {
    padding: 100px 100px;
    background-image: url("/Vectores/Rectangle 34-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #acerca-de-mi h1 {
    font-size: 3rem;
  }

  /*experencia*/
  #experencia {
    padding-left: 15%;
    background-size: 20px;
  }

  #experencia h1 {
    font-size: 3rem;
  }
  
  #experencia h4{
    font-size: 2.5rem;
    font-weight: 400;
  }

  #experencia > #amazon > div ~ div p {
    font-size: 2.5rem;
  }
  #experencia > #amazon > div h4 ~ p {
    font-size: 1.5rem;
  }
  #experencia > #airbnb > div ~ div p {
    font-size: 2.5rem;
  }
  #experencia > #airbnb > div h4 ~ p {
    font-size: 1.5rem;
  }
  #experencia > #google > div ~ div p {
    font-size: 2.5rem;
  }
  #experencia > #google > div h4 ~ p {
    font-size: 1.5rem;
  }

  /*Mis habilidades*/
  #mis-habilidades h1 {
    padding-left: 30%;
    font-size: 3rem;
  }

  .mis-habilidades-web {
    display: flex;
    justify-content:flex-start;
    padding-left: 30%;
  }
  #mis-habilidades > .mis-habilidades-web > div p {
    font-size: 2.5rem;
  }

  #mis-habilidades > .mis-habilidades-web > p {
    font-size: 2.5rem;
    width: 500px;
  }

  /*mi portafolio*/

  #mi-portafolio h1 {
    font-size: 3rem;
  }
  
  #mi-portafolio {
    padding: 0 50px;
  }

  #mi-portafolio > #imagen-1 > img {
    width: 400px;
    height: 250px;
    top: 25px;
    left: 10px;
  }

  #imagen-1 {
    width: 420px;
    height: 250px;
    background-color: var(--colot-iconos);
  }

  #mi-portafolio > #imagen-1 > img + p{
    margin-top: 30px;
    font-size: 2rem;
  }

  .absolute {
    padding-right: 50px;
   }
   
   #imagen-2 p {
     text-align:end;
     padding-right: 50px;
     margin-top: 30px;
     font-size: 2rem;
   }
   
   .absolute > img{
     margin-top: 100px;
     width: 420px;
     height: 250px;
   }

   #mi-portafolio > #imagen-3 > img {
    width: 400px;
    height: 250px;
    top: 25px;
    left: 10px;
  }

  #imagen-3 {
    width: 420px;
    height: 250px;
    background-color: var(--colot-iconos);
  }

  #mi-portafolio > #imagen-3 > img + p{
    margin-top: 30px;
    font-size: 2rem;
  }
   

  

  
  

  
}